.cardShadow {
    box-shadow: 0px 0px 2px rgba(146, 58, 158, 0.7),
        0px 0px 5px rgba(146, 58, 158, 0.5),
        0px 0px 5px rgba(146, 58, 158, 0.3);
}

.product-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-link:hover .product-picture {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/* @media only screen and (max-width: 1016px) {
    .responsive-margin-1016 {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .responsive-margin-768 {
        margin-top: 0.2rem;
    }
} */
@media only screen and (max-width: 409px) {
    .responsive-margin-409 {
        padding-top: 0rem;
    }

    .responsive-margin {
        margin: 0.1rem;
    }
}

@media only screen and (max-width: 337px) {
    .responsive-margin-337 {
        padding-top: 0rem;
    }
}