.sitename {
    background: linear-gradient(to right, black, blue);
    -webkit-background-clip: text;
    color: transparent;
    text-align: left;
    display: inline-block;
    margin-left: 1rem;
}

.navColor {
    backdrop-filter: blur(3px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(3px); /* For Safari support */
}